.hero {
    p {
        max-width: 500px;
    }
}

.features {

    &--intro {
        p {
            max-width: 500px;
            margin: 0 auto;
        }
    }
}

.pricing {
    &--intro {
        p {
            max-width: 500px;
            margin: 0 auto;
        }
    }
}

.contact {

}

.footer {
    background-color: $darkBlue;
}